//font var
$font-stack: "Segoe UI Light", Ubuntu, "Helvetica Neue Ultralight", "Calibri Light";
//color-vars
$primary-color: rgb(255, 255, 255);
$secondary-color: #f44336;
$active-color: yellow;
$bg-color: black;
//image-vars
$logo-image: "../img/logo.webp";
$background-image: "../img/bg.webp";
//sign
$main-sign-color: #f44336;
$secondary-sing-color: #f7ecec;