//imports


//font var
$font-stack: 'Roboto', sans-serif;
//color-vars
$primary-color: rgb(255, 255, 255);
$secondary-color: #f44336;
$active-color: yellow;
$bg-color: black;
//image-vars
$logo-image: "../img/logo.webp";
$background-image: "../img/bg.webp";