@use "../scss/vars" as v;
.page {
	height: 100vh;
	width: 100%;
	scroll-snap-align: center;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
  flex-direction: column;
	.char {
		display: inline-block;
		-webkit-animation-delay: 0.25s;
		        animation-delay: 0.25s;
		transition: all 0.25s 0.25s
	}
}
@media screen and (max-width:768px) {
  .page{
    width: 100%;
	scroll-snap-align: center;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
  flex-direction: column;
  }
}
@media screen and (max-width:576px) {
  .page {
    width: 100%;
    scroll-snap-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-direction: column;
}
}
.page.p1{
  width: 100vw;
}
body{
.przewijak {
	height: 100vh;
  width: 100vw;
	overflow: auto;
	overflow-x: hidden;
	  //  -ms-scroll-snap-type: y mandatory;
	   //     scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    padding-left: 0;
    padding-right: 0;
  }
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid v.$primary-color;
    position: absolute;
    left: 49%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid v.$primary-color;
    border-top: transparent;
    border-left: transparent;
    -webkit-animation: scroll-down 1s ease-in-out infinite;
            animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    
  }
  @-webkit-keyframes scroll-down {
    0% {
      
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  @keyframes scroll-down {
    0% {
      
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  
