@use "../scss/vars" as v;
//works
html {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
 
}
body {
  
  font-family: Roboto, sans-serif;
    color: v.$primary-color;
    background-image: url(v.$background-image);
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
    overflow: hidden;
    height: 100%;
    margin: 0;
    @include v.center;
  }
///////////////////////////////////////
//building-blocks//
///////////////////////////////////////


.a-btn {
    background-color: v.$secondary-color;
    border-color: v.$secondary-color;
    color: v.$primary-color;
    transition: transform 0.3s;
&:hover, &:active {
    transform: scale(1.05);
    background-color: v.$secondary-color;
    border-color: v.$secondary-color;
    color: v.$primary-color;
  }
}
a{
  color: v.$primary-color;
  text-decoration: none;
}
.card {
  box-shadow: 15px 15px 15px -3px rgb(0 0 0 / 28%), -15px 15px 15px -3px rgb(0 0 0 / 28%);
  height: 100%;
}
.card-text {
  font-size: 0.8em;
  }
//pages
///////////////////////////////////////
//p1//
///////////////////////////////////////

.page.p1 {
  height: 100vh;
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  background-repeat: repeat;
  
  @media screen and (max-height: 576px ) and (orientation:landscape) {
    height: unset;
    
  }
  .container-xxl {
    height: 80%;
      }
  .img {
    background-image: url(v.$logo-image);
    height: 400px;
    @include v.center;
  }
  .sign {
    @include v.flex;
  }
  //p1-media-q
  @media screen and (max-height: 850px){
    .img {
      height:295px;
    }
  }
}
///////////////////////////////////////
//p2//
///////////////////////////////////////

.page.p2 {
  h1{
    margin-top: 4%;
  }
  height: 100vh;
  
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  .col{
    margin-top: 2%;
  }
  .tab-2, .mob-2 {
    display: none;
  }
  //p2-media-q
  @media screen and (max-height: 2000px) {
    .card-text {
        font-size: 0.7em;
      }
    }
  
  @media screen and (max-width: 950px ) {
  .card-text {
    font-size: 0.6em;
    }            
  .row:nth-child(2) {
    margin-top: 1rem;
    }
  }

  @media screen and (max-width: 576px ) and (orientation:portrait) {
    
    height: unset;
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
  @media screen and (max-height: 576px ) and (orientation:landscape) {
    height: unset;
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
}

///////////////////////////////////////
//p3//
///////////////////////////////////////

.page.p3 {
  height: 100vh;
  h1{
    margin-top: 4%;
  }
  background: conic-gradient(from -90deg at -10% center, #ffa500, #ff7715, #ff522a, #ff3f47, #ff5482, #ff69b4);
  #Kronodrzewko_mb {
    display: none;
  }
  .row:nth-child(1){
    h1{
      color:white;
    }
  }
  .row{
    margin: 0 0 2% 0;
  }
  //p3-media-q 
  @media screen and (max-height: 2000px) {
    .card-text{
        font-size: 0.7em;
    
  }
}
  @media screen and (max-height: 1200px) {
    .card-text{
      font-size: 0.6em;
     }
    }
    
  @media screen and (max-height: 1080px), screen and (max-width:992px) {
   .card-img-top{
     display: none;
   }
  } 
  @media screen and (max-width: 576px ) and (orientation:portrait) {
    .row{
      margin: 0;
    }
    height: unset;
    #Kronodrzewko_mb {
      display: inline-block;
    }
    #Kronodrzewko_db {
      display: none;
    }
    .col{
      margin-top: 2%;
      } 
      .row:nth-child(1){
        margin-top: 2%;
        h1{
          color:white;
        }
      }
      .row:nth-child(3){
        .col:nth-child(3){
          margin-bottom: 2%;
        }
      }
    
     .car-a:nth-child(1){
        top:0% !important;
     }
     .carousel:nth-child(1){
       top:35%;
        }
        
     .carousel-indicators{
       display: none;
        }
    }
  @media screen and (max-height: 576px ) and (orientation:landscape) {
    display: block;
    height: 980px;
    #Kronodrzewko_mb {
      display: inline-block;
    }
    #Kronodrzewko_db {
      display: none;
    }
    .col{
      margin-top: 4%;
      }
     
     .carousel-indicators{
       display: none;
        }
    }
    @media screen and (max-height: 375px ) and (orientation:landscape) {
      display: block;
      height: 1020px;
      #Kronodrzewko_mb {
        display: inline-block;
      }
      #Kronodrzewko_db {
        display: none;
      }
      .col{
        margin-top: 4%;
        }
       
       .carousel-indicators{
         display: none;
          }
      }
}

///////////////////////////////////////
//p4//
///////////////////////////////////////

.page.p4{
  height: 100vh;
  .col{
    margin-top: 2%;
  }
  h1{
    margin-top: 4%;
  }
  
  .mob-4{
    display: none;
  }
  background: conic-gradient(from 90deg at 25% -10%, #ff4500, #d3f340, #7bee85, #afeeee, #7bee85);
  .carousel-inner {
  border-radius: 0.25rem;
  }
  @media screen and (max-width: 576px ) and (orientation:portrait) {
    height: unset;
    .col-xl{
      margin-top: 4%;
    }
    .carousel-indicators{
      display: none;
     }
     .row:nth-child(2){
       .col:nth-child(3){
         margin-bottom: 2%;
       }
     }
     
  }


@media screen and (max-height: 576px ) and (orientation:landscape) {
  height: unset;
    .col-xl{
      margin-top: 4%;
    }
    .carousel-indicators{
      display: none;
     }
     .row:nth-child(2){
       .col:nth-child(3){
         margin-bottom: 2%;
       }
    }
  }
}
///////////////////////////////////////
//p5//
///////////////////////////////////////


.page.p5{
  height: 100vh;
  .row:nth-child(1){
    h1{
      margin-top: 2%;
      color:white;
    }
  }
  background:conic-gradient(from 270deg at 75% 110%, lawngreen, midnightblue);
  .col{
    margin-top: 2%;
  }
  @media screen and (max-height: 2000px) {
    .card-text{
        font-size: 0.7em;
    
  }
}
@media screen and (max-width: 576px ) and (orientation:portrait) {
  height: unset;
  .col-xl{
    margin-top: 4%;
  }
  .carousel-indicators{
    display: none;
   }
   .carousel:nth-child(1){
    top:35%;
     }
  .row:nth-child(2){
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
}


@media screen and (max-height: 576px ) and (orientation:landscape) {
  height: unset;
  .col-xl{
    margin-top: 4%;
  }
  .carousel-indicators{
    display: none;
   }
   .carousel:nth-child(1){
    top:35%;
     }
  .row:nth-child(2){
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
} 
}

// ! Page 6
.page.p6{
  height: 100vh;
  .container-sm{
    padding-top: 0;
    margin: 2% 0 2% 0;
  }
  .row:only-child{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
  }
  label{
    font-size: 1rem;
    padding-left: 4%;
  }
  label[for]:not(.ln){
    padding-left: 2%;
  }
  label[for="Topic"]{
    padding-left: 1%;
  }
  textarea{
    height: 100%;
  }
  .row-p{
    margin-top: 3%;
  }
  select{
    height: calc(4.5rem + 2px);
  }
  background:conic-gradient(from .25turn at 0% 0%, #00c476, 10%, #82b0ff, 90%, #00c476);
  .col{
    margin-top: 2%;
  }
  @media screen and (max-width:1200px) {
    textarea{
    padding-left: 2%;
    }
    label{
      padding-left: 6%;
    }
    label[for]:not(.ln){
      padding-left: 6%;
    }
    label[for="Topic"]{
      padding-left: 3%;
    }
  }
  @media screen and (max-height: 2000px) {
    .card-text{
        font-size: 0.7em;
    
    }
  }
@media screen and (max-width: 576px ) and (orientation:portrait) {
  height: unset;
  
  } 
@media screen and (max-height: 576px ) and (orientation:landscape) {
  height: unset;
  
  
  } 

}