@use "../scss/vars" as v;
//works
html {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
 
}
body {
  
  font-family: Roboto, sans-serif;
    color: v.$primary-color;
    background-image: url(v.$background-image);
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
    overflow: hidden;
    height: 100%;
    margin: 0;
    @include v.center;
    .btn-danger{
      background-color: v.$secondary-color;
      border-color: v.$secondary-color;
    }
  }
///////////////////////////////////////
//building-blocks//
///////////////////////////////////////


.a-btn {
    background-color: v.$secondary-color;
    border-color: v.$secondary-color;
    color: v.$primary-color;
    transition: transform 0.3s;
&:hover, &:active {
    transform: scale(1.05);
    background-color: v.$secondary-color;
    border-color: v.$secondary-color;
    color: v.$primary-color;
  }
}
a{
  color: v.$primary-color;
  text-decoration: none;
}
.card {
  box-shadow: 15px 15px 15px -3px rgb(0 0 0 / 28%), -15px 15px 15px -3px rgb(0 0 0 / 28%);
  height: 100%;
}
.card-text {
  font-size: 0.8em;
  }
//pages
///////////////////////////////////////
//p1//
///////////////////////////////////////

.page.p1 {
  height: 100vh;
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  background-repeat: repeat;
  
  @media screen and (max-height: 576px ) and (orientation:landscape) {
    height: unset;
    
  }
  .container-xxl {
    height: 80%;
      }
  .img {
    background-image: url(v.$logo-image);
    height: 400px;
    @include v.center;
  }
  .sign {
    @include v.flex;
  }
  //p1-media-q
  @media screen and (max-height: 850px){
    .img {
      height:295px;
    }
  }
}
///////////////////////////////////////
//p2//
///////////////////////////////////////

.page.p2 {
  h1{
    filter: drop-shadow(6px 6px 3px rgb(0 0 0 /28%)) drop-shadow(-6px -6px 3px rgb(0 0 0 /28%));
    margin-top: 4%;
  }
  height: 100vh;
  
  background: conic-gradient(from 90deg at 40% -25%, color(display-p3 0.9886 0.8465 0), color(display-p3 0.9706 0.6035 0), color(display-p3 0.9675 0.3459 0), color(display-p3 0.9315 0 0.0492), color(display-p3 0.8456 0 0.1003), color(display-p3 0.8182 0 0.2194), color(display-p3 0.7928 0 0.3747), color(display-p3 0.7624 0 0.5261), color(display-p3 0.7928 0 0.3747), color(display-p3 0.8182 0 0.2194), color(display-p3 0.8456 0 0.1003), color(display-p3 0.9675 0.3459 0), color(display-p3 0.9706 0.6035 0), color(display-p3 0.9886 0.8465 0), color(display-p3 0.9886 0.8465 0), color(display-p3 0.9886 0.8465 0));
  .col{
    margin-top: 2%;
  }
  .tab-2, .mob-2 {
    display: none;
  }
  //p2-media-q
  @media screen and (max-height: 2000px) {
    .card-text {
        font-size: 0.7em;
      }
    }
  
  @media screen and (max-width: 950px ) {
  .card-text {
    font-size: 0.6em;
    }            
  .row:nth-child(2) {
    margin-top: 1rem;
    }
  }

  @media screen and (max-width: 576px ) and (orientation:portrait) {
    
    height: unset;
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
  @media screen and (max-height: 576px ) and (orientation:landscape) {
    height: unset;
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
}

///////////////////////////////////////
//p3//
///////////////////////////////////////

.page.p3 {
  height: 100vh;
  h1{
    margin-top: 4%;
  }
  background: conic-gradient(from -90deg at -10% center, color(display-p3 0.9999 0.6364 0), color(display-p3 1 0.4414 0.0987), color(display-p3 1 0.2723 0.1593), color(display-p3 1 0.1708 0.2587), color(display-p3 1 0.2805 0.4978), color(display-p3 1 0.3722 0.714));
  #Kronodrzewko_mb {
    display: none;
  }
  .row:nth-child(1){
    h1{
      filter: drop-shadow(6px 6px 3px rgb(0 0 0 /28%)) drop-shadow(-6px -6px 3px rgb(0 0 0 /28%));
      color:white;
    }
  }
  .row{
    margin: 0 0 2% 0;
  }
  //p3-media-q 
  @media screen and (max-height: 2000px) {
    .card-text{
        font-size: 0.7em;
    
  }
}
  @media screen and (max-height: 1200px) {
    .card-text{
      font-size: 0.6em;
     }
    }
    
  @media screen and (max-height: 1080px), screen and (max-width:992px) {
   .card-img-top{
     display: none;
   }
  } 
  @media screen and (max-width: 576px ) and (orientation:portrait) {
    .row{
      margin: 0;
    }
    height: unset;
    #Kronodrzewko_mb {
      display: inline-block;
    }
    #Kronodrzewko_db {
      display: none;
    }
    .col{
      margin-top: 2%;
      } 
      
      .row:nth-child(3){
        .col:nth-child(3){
          margin: 2% 0 2% 0;
        }
      }
    
     .car-a:nth-child(1){
        top:0% !important;
     }
     .carousel:nth-child(1){
       top:35%;
        }
        
     .carousel-indicators{
       display: none;
        }
    }
  @media screen and (max-height: 576px ) and (orientation:landscape) {
    display: block;
    height: unset;
    #Kronodrzewko_mb {
      display: inline-block;
    }
    #Kronodrzewko_db {
      display: none;
    }
    .col{
      margin-top: 4%;
      }
     
     .carousel-indicators{
       display: none;
        }
        .row:nth-child(3){
          margin: 0;
          .col{
            margin: 0 0 2% 0;
          }
    }
  }
}

///////////////////////////////////////
//p4//
///////////////////////////////////////

.page.p4{
  height: 100vh;
  .col{
    margin-top: 2%;
  }
  h1{
    color:white;
    margin-top: 4%;
    filter: drop-shadow(6px 6px 3px rgb(0 0 0 /28%)) drop-shadow(-6px -6px 3px rgb(0 0 0 /28%));
  }
  
  .mob-4{
    display: none;
  }
  background: conic-gradient(from 90deg at 25% -10%, color(display-p3 1 0.2026 0.0801), color(display-p3 0.7972 0.9701 0), color(display-p3 0 0.9826 0.3329), color(display-p3 0.4086 0.9793 1), color(display-p3 0.0214 0.9839 0.2586));
  .carousel-inner {
  border-radius: 0.25rem;
  }
  @media screen and (max-width: 576px ) and (orientation:portrait), screen and (orientation:portrait) {
    height: unset;
    .col-xl{
      margin-top: 4%;
    }
    .carousel-indicators{
      display: none;
     }
     .row:nth-child(2){
       .col:nth-child(3){
         margin-bottom: 2%;
       }
     }
     
  }


@media screen and (max-height: 576px ) and (orientation:landscape) {
  height: unset;
    .col-xl{
      margin-top: 4%;
    }
    .carousel-indicators{
      display: none;
     }
     .row:nth-child(2){
       .col:nth-child(3){
         margin-bottom: 2%;
       }
    }
  }
}
///////////////////////////////////////
//p5//
///////////////////////////////////////


.page.p5{
  height: 100vh;
  .row:nth-child(1){
    h1{
      filter: drop-shadow(6px 6px 3px rgb(0 0 0 /28%)) drop-shadow(-6px -6px 3px rgb(0 0 0 /28%));
      margin-top: 2%;
      color:white;
    }
  }
  background:conic-gradient(from 270deg at 75% 110%, color(display-p3 0.5077 0.9906 0.0202), color(display-p3 0.0078 0.086 0.5148));
  .col{
    margin-top: 2%;
  }
  @media screen and (max-height: 2000px) {
    .card-text{
        font-size: 0.7em;
    
  }
}
@media screen and (max-width: 576px ) and (orientation:portrait), screen and (orientation:portrait) {
  height: unset;
  .col-xl{
    margin-top: 4%;
  }
  .carousel-indicators{
    display: none;
   }
   .carousel:nth-child(1){
    top:35%;
     }
  .row:nth-child(2){
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
}


@media screen and (max-height: 576px ) and (orientation:landscape) {
  height: unset;
  .col-xl{
    margin-top: 4%;
  }
  .carousel-indicators{
    display: none;
   }
   .carousel:nth-child(1){
    top:35%;
     }
  .row:nth-child(2){
    .col:nth-child(3){
      margin-bottom: 2%;
    }
  }
} 
}

//Page 6
.page.p6{
  height: 100vh;
  .container-sm{
    padding-top: 0;
    margin: 2% 0 2% 0;
  }
  .row:only-child{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
  }
  label{
    font-size: 1rem;
    padding-left: 4%;
  }
  label[for]:not(.ln){
    padding-left: 2%;
  }
  label[for="Topic"]{
    padding-left: 1%;
  }
  textarea{
    height: 100%;
  }
  .row-p{
    margin-top: 3%;
  }
  select{
    height: calc(4.5rem + 2px);
  }
  background:conic-gradient(from .25turn at 0% 0%, color(display-p3 0.0117 0.7817 0.4177), 10%, color(display-p3 0.5338 0.6855 0.9961), 90%, color(display-p3 0 0.7819 0.417));
  .col{
    margin-top: 2%;
  }
  @media screen and (max-width:1200px) {
    textarea{
    padding-left: 2%;
    }
    label{
      padding-left: 6%;
    }
    label[for]:not(.ln){
      padding-left: 6%;
    }
    label[for="Topic"]{
      padding-left: 3%;
    }
  }
  @media screen and (max-height: 2000px) {
    .card-text{
        font-size: 0.7em;
    
    }
  }
@media screen and (max-width: 576px ) and (orientation:portrait) {
  height: unset;
  .container-sm{
    padding-top: 0;
    margin: 2% 0 10% 0;
  }
  } 
@media screen and (max-height: 576px ) and (orientation:landscape) {
  height: unset;
  
  
  } 

}