.sign {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #6b1839, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 60%;
  font-family: "Segoe UI Light";
  text-transform: uppercase;
  font-size: 6em;
  color: #f44336;
  text-shadow: 0 0 0.6rem #eec3c3, 0 0 1.5rem #f44336, -0.2rem 0.1rem 1rem #f44336, 0.2rem 0.1rem 1rem #f44336, 0 -0.5rem 2rem #f44336, 0 0.5rem 3rem #f44336;
  -webkit-animation: shine 2s forwards, flicker 3s infinite;
          animation: shine 2s forwards, flicker 3s infinite;
}

@-webkit-keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #eec3c3;
    text-shadow: 0 0 0.6rem #eec3c3, 0 0 1.5rem #f44336, -0.2rem 0.1rem 1rem #f44336, 0.2rem 0.1rem 1rem #f44336, 0 -0.5rem 2rem #f44336, 0 0.5rem 3rem #f44336;
  }
  28%,
  33% {
    color: #f44336;
    text-shadow: none;
  }
  82%,
  97% {
    color: #f44336;
    text-shadow: none;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #eec3c3;
    text-shadow: 0 0 0.6rem #eec3c3, 0 0 1.5rem #f44336, -0.2rem 0.1rem 1rem #f44336, 0.2rem 0.1rem 1rem #f44336, 0 -0.5rem 2rem #f44336, 0 0.5rem 3rem #f44336;
  }
  28%,
  33% {
    color: #f44336;
    text-shadow: none;
  }
  82%,
  97% {
    color: #f44336;
    text-shadow: none;
  }
}

.flicker {
  -webkit-animation: shine 2s forwards, blink 3s 2s infinite;
          animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  -webkit-animation: shine 2s forwards, blink 10s 1s infinite;
          animation: shine 2s forwards, blink 10s 1s infinite;
}

@-webkit-keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #eec3c3;
    text-shadow: 0 0 0.6rem #eec3c3, 0 0 1.5rem #f44336, -0.2rem 0.1rem 1rem #f44336, 0.2rem 0.1rem 1rem #f44336, 0 -0.5rem 2rem #f44336, 0 0.5rem 3rem #f44336;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #eec3c3;
    text-shadow: 0 0 0.6rem #eec3c3, 0 0 1.5rem #f44336, -0.2rem 0.1rem 1rem #f44336, 0.2rem 0.1rem 1rem #f44336, 0 -0.5rem 2rem #f44336, 0 0.5rem 3rem #f44336;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=blink.css.map */