@import "../utils/vars.scss";

//works
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
    font: 100% $font-stack;
    color: $primary-color;
    background-image: url($background-image);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(1.5px);
    overflow: hidden;
    height: 100%;
    margin: 0;
  }
a{
  font: 100% $font-stack;
  color: $primary-color;
  text-decoration: none;
}
.img{
  display: flex;
  background-image: url($logo-image);
  width: 70%;
  height: 70%;
  background-position: center;
  background-size: cover;
}
.welcome {
  text-align: center;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primary-color;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}
.sign {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
//cards
.card {
  -ms-flex-preferred-size: var(--size-content-1);
      flex-basis: var(--size-content-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: var(--size-2);
  gap: var(--size-2);
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  -webkit-box-shadow: var(--shadow-2);
          box-shadow: var(--shadow-2);
}

.card > h5 {
  line-height: var(--font-lineheight-1);
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: calc(var(--size-content-1) * 4);
  grid-gap: var(--size-5);
  gap: var(--size-5);
  padding: var(--size-5);
}